/* Your app custom styles here */

#panel-header {
  text-align: left !important;
  width: 100%;
}

.card-bg {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.map { 
  height: 180px; 
}

.leaflet-marker-icon.selectedMarker{
  color: red;
}